:root {
    --background-color: #ffe4c4;
    --shield-primary-gradient: linear-gradient(to right, #701111, #ff0000, #701111);
    --shield-secondary-gradient: linear-gradient(to right, #7e7979, #ffffff, #7e7979);
    --shield-center-gradient: linear-gradient(to right, #11117e, #0000ff, #11117e);
    --border-color: #000000;
    --star-color: #ffffff;
  }

body {
    margin: 0px;
}

#container {
    height: 100vh;
    background-color: var(--background-color);
}

.center {
    display: flex;
    margin: auto auto;
}

.circle {
    border: 1px solid var(--border-color);
    border-radius: 50%;
}

#circle1 {
    width: 256px;
    height: 256px;
    background-image: var(--shield-primary-gradient);
}

#circle2 {
    width: 206px;
    height: 206px;
    background-image: var(--shield-secondary-gradient);
}

#circle3 {
    width: 156px;
    height: 156px;
    background-image: var(--shield-primary-gradient);
}

#circle4 {
    width: 106px;
    height: 106px;
    background-image: var(--shield-center-gradient);
}

#star, #star::before, #star::after {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 35px solid var(--star-color);
}

#star {
    transform: rotate(180deg);
}

#star::before {
    content: "";
    position: absolute;
    transform: rotate(70deg);
    margin-left: -50px;
}

#star::after {
    content: "";
    position: absolute;
    transform: rotate(-70deg);
    margin-left: -48.8px;
}

#footer {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
}